body {
 background-image: url("https://i.imgur.com/SRrtRWR.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;
} 

header {
  background: transparent;
  color: white;
  margin: 0;
}

header h1{
  margin: 0; 
}

nav ul{
  margin: 0;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6.5px 7.5px;
  text-decoration: none;
}

li a:hover {
  background-color:#FFFF00;
}

.myHover{
      color:#FFFF00;
    }
    .myHover:hover
    {
      color:#FFFF00;
    }

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 20px;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

.center { 
    width:200px; 
    height:200px; 
    position: fixed; 
    background-color: transparent; 
    top: 50%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -100px; 
        } 


